<template>
    <div class="about">
        <p>Salon kosmetyczno-fryzjerski „Anna” został otwarty w 2000 r. z mysla o nowoczesnych, dbajacych o zdrowie i urodę kobietach i mężczyznach.</p>

        <p>
            To nas wyróznia:

            <ul>
                <li>wykwalifikowany personel</li>
                <li>szeroka gama zabiegów kosmetycznych na najwyższym poziomie</li>
                <li>nowoczesne techniki fryzjerskie</li>
                <li>najnowoczesniejszy sprzet i urzadzenia</li>
                <li>profesjonalne kosmetyki firm: Cuccio, Thalasso, Rosa-Graf, Bielenda</li>
                <li>bezpłatne porady i konsultacje</li>
            </ul>
        </p>

        <p>Wychodzac naprzeciw oczekiwaniom klientów wprowadzilismy zabiegi medycyny estetycznej; zabiegi laserowe, oraz oferujemy również seanse opalajace w najnowoczesniejszym solarium firmy Mega Sun. Profesjonalna i miła obsługa sprawia, że czas spędzony w Salonie „Anna” to czas relaksu i zadowolenia.</p>
    </div>
</template>
