<template>
    <div>
        <h2>PROMOCJE</h2>

        <ul>
            <li>RZĘSY JEDWABNE PRZEDŁUŻANIE 150zł</li>
            <li>LASER 500zł ZA BON O WARTOŚCI 1100zł NA ZABIEGI LASEROWE</li>
            <li>FALE RADIOWE RF (1 ZABIEG NA TWARZ) 150zł (POD WARUNKIEM WYKUPIENIA CONAJMNIEJ 4 ZABIEGÓW)</li>
            <li>PAKIET ŚLUBNY (MAKIJAŻ + PRZEDŁUŻANIE PAZNOKCI = OPALANIE NATRYSKOWE GRATIS)</li>
            <li>PAKIET ŚLUBNY (PRZEDŁUŻANIE RZĘS + PRZEDŁUŻANIE PAZNOKCI = MAKIJAŻ GRATIS)</li>
            <li>PAKIET PAN I PANI (PRZEDŁUŻANIE PAZNOKCI + PRZEDŁUŻANIE RZĘS = MANICURE I STRZYŻENIE DLA PANA GRATIS)</li>
            <li>KARNET DO SOLARIUM 110min. 85Zł</li>
            <li>DO ZABIEGU MIKRODERMABRAZJI - ZABIEG REGENERUJĄCY GRATIS</li>
            <li>STUDENCI I UCZNIOWIE - ZABIEGI LASEROWE 20% TANIEJ</li>
        </ul>

        <p>PROMOCJE NIE ŁĄCZĄ SIĘ ZE SOBĄ!</p>
    </div>
</template>