<template>
    <div>
        <nav id="nav-main" class="navbar is-info" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <router-link active-class="" class="navbar-item" to="/">
                        <img src="/img/logo.png" alt="Salmonella?" title="Salmonella?">
                    </router-link>

                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <!-- <a class="navbar-item">
                            Home
                        </a> -->

                        <router-link active-class="is-active" class="navbar-item" to="/o-nas">O nas</router-link>
                        <router-link active-class="is-active" class="navbar-item" to="/cennik">Cennik</router-link>
                        <router-link active-class="is-active" class="navbar-item" to="/promocje">Promocje</router-link>
                        <router-link active-class="is-active" class="navbar-item" to="/kwalifikacje">Kwalifikacje</router-link>
                        <router-link active-class="is-active" class="navbar-item" to="/praca">Praca</router-link>
                        <router-link active-class="is-active" class="navbar-item" to="/galeria">Galeria</router-link>
                        <router-link active-class="is-active" class="navbar-item" to="/kontakt">Kontakt</router-link>
                    </div>
                </div>
            </div>
        </nav>

        <section class="container">
            <div class="columns">
            <aside class="menu column is-2">
                <p class="menu-label">
                    Nasza oferta
                </p>
                <ul class="menu-list">
                    <li><router-link active-class="is-active" to="/kosmetyka">Kosmetyka</router-link></li>
                    <li><router-link active-class="is-active" to="/fryzjerstwo">Fryzjerstwo</router-link></li>
                    <li><router-link active-class="is-active" to="/stylizacja-paznokci">Stylizacja paznokci</router-link></li>
                    <li><router-link active-class="is-active" to="/pedicure">Pedicure</router-link></li>
                    <li><router-link active-class="is-active" to="/solarium">Solarium</router-link></li>
                </ul>
                <p class="menu-label">
                    Kontakt z nami
                </p>
                <ul class="menu-list">
                    <li><strong>Salon Anna</strong></li>
                    <li>ul. Kunickiego 242</li>
                    <li>20-444 Lublin</li>
                    <li>&nbsp;</li>
                    <li><strong>Telefon</strong></li>
                    <li>81/743 83 48</li>
                    <li>606 118 668</li>
                </ul>
            </aside>

            <main class="column is-10 content">
                <router-view/>
            </main>
            </div>
        </section>

        <footer>
            <div class="container content has-text-centered">
                <p>Stworzył Pomścibór w jakieś 18 minut ;)</p>
            </div>
        </footer>
    </div>
</template>

<style lang="scss">
#app {
    font-family: 'Open Sans', sans-serif;
}

#nav-main {
    margin-bottom: 16px;
}

footer {
    margin-top: 16px;
}
</style>
